
    <div class="row-fluid">
        <div class="span12">
            <form>
                <fieldset>
                     <legend>Directions</legend>
            	     <div id="input_directions">
                     </div>
                </fieldset>
                <button id="select_directions" class="btn"> <i class="icon-road"></i> Show on map</button> 
            </form>
        </div>
    </div>
