<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div id="content">
  <div id="artist">{{artist}}</div>
  <div id="operas">
  	<ul>
  		{{#each operas}}
  			<li>{{this.nome}}</li>
  		{{/each}}
  </div>
</div>
