<div class="row-fluid">
    <div class="span12">
        <form>
            <fieldset>
                <legend>Legend</legend>
                <div id="legend_list"></div>
                <div>
                    <div>
                        <img src="/markers/start_legend.png"> Stazione di partenza
                    </div>
                    <div>
                        <img src="/markers/end_legend.png"> Stazione d'arrivo
                    </div>
                    <div>
                        <img src="/markers/bus_legend.png"> Autobus in circolazione
                    </div>
                </div> 
            </fieldset>
        </form>
    </div>
</div> 