<div class="row-fluid">
    <div class="span12">
        <form>
                <fieldset>
                     <legend>Lines</legend>
            	     <div id="input_lines">

                     </div>
            	     <button id="select_lines" class="btn" > <i class="icon-search"></i> Get directions</button> 
                </fieldset>
            </form>
        </div>
</div>
