<div class="container-fluid">
    <div class="page-header">
        <h1>AtacTracker <small>Monitoraggio trasporti pubblici</small></h1>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <div id="lines">
            </div>
            <div id="directions">
            </div>
            <div id="legend">
            </div>   
            <div>  </div>
        </div>
        <div class="span7" id="map_canvas">
        </div>
    </div>
    <div class="row-fluid">
        <div class="page-header"></div>
    </div>
</div>